# Log level, but you knew that. https://docs.rs/tracing-subscriber/latest/tracing_subscriber/filter/struct.EnvFilter.html
RUST_LOG=info

# Optional: Only required if you have Public Stats Lookup off (and want to use the hackatime widgets)
HACKATIME_STATS_API_KEY=YOUR_HACKATIME_API_KEY
HACKATIME_USERNAME=YOUR_HACKATIME_USERNAME
HACKATIME_URL=https://hackatime.hackclub.com